* {
    margin: 0;
    padding: 0; 
    font-family: 'Varela Round', sans-serif;
}

/* button */
.btn-primary {
    background-color: #FFFFFF;
    color: #4267B2;
    font-weight: 700;
    font-size: 20px;
    height: 50px;
    padding: 14px 20px;
    border: 0;
    border-radius: 5px;
}

.btn-secondary {
    background-color: #4267B2;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    height: 40px;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
}


/* cover (first part of the page) */
.cover {
    background-image: url('../images/banner/banner3.png');
    background-size: 100% 100%;
    height: 800px;
    width: 100vw;
}

.cover-content {
    width: 400px;
    text-align: right;
    color: #FFFFFF;
    float: right;
    margin-right: 200px;
}

.cover-title {
    font-size: 50px;
    margin-top: 130px;
}

.cover-description {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* section */
/* failure */
.failure-container {
    height: 600px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.failure-image {
    height: 500px;
}

.failure-box {
    width: 300px;
    text-align: left;
}

.failure-title {
    font-size: 30px;
    margin-bottom: 20px;
    padding-right: 20px;
}

.failure-description {
    color: #757575;
    font-size: 14px;
    margin-bottom: 20px;
    width: 260px;
    line-height: 150%;
}

.list-of-failures {
    color: #757575;
    font-size: 12px;
    list-style-type: "✅";
    padding: 0;
    margin-left: 18px;
}

.list-of-failures li {
    padding-bottom: 10px;
}



/* My Plans */

.my-plans {
    text-align: center;
    margin-top: 50px;
}

.plan-title {
    font-size: 30px;
    margin-bottom: 50px;
}

.plan-list-container {
    display: flex;
    justify-content: space-evenly;
    padding: 0 160px;
}

.plan-img {
    width: 50px;
    margin-bottom: 10px;
}

.plan-img-title {
    font-size: 22px;
    margin-bottom: 10px;
}

.plan-description {
    font-size: 18px;
    color: #757575;
}

/* books */

.books {
    text-align: center;
    margin-top: 100px;
}

.books-title {
    font-size: 30px;
    margin-bottom: 50px;
}

.books-container {
    display: flex;
    justify-content: space-evenly;
    padding: 0 150px;
    margin-bottom: 100px;
}

.book-title {
    font-size: 22px;
    margin-bottom: 20px;
}

.book {
    height: 200px;
}

/* banner */
.banner-container {
    background-image: url(../images/gradient1.png), url(../images/watch.png);
    background-size: cover;
    height: 230px;
    width: 800px;
    margin-top: 100px;
    margin-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
}

.banner-content-container {
    padding: 50px 0 0 40px;
}

.banner-title {
    color: #FFFFFF;
    font-size: 30px;
}

/* footer */

.footer-container {
    display: flex;
    height: 400px;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: #FFFFFF;
    padding: 0 160px 100px 160px;
}

.future-container {
    margin-top: 100px;
    width: 400px;
}

.future-title {
    font-size: 30px;
    margin-bottom: 20px;
}

.future-description {
    color: lightgrey;
    font-size: 12px;
    line-height: 150%;
}

address {
    font-style: normal;
    color: lightgrey;
    font-size: 12px;
}

address a {
    color: lightgrey;
    text-decoration: none;
}

.link {
    margin-right: 10px;
    height: 40px;
}

.subscribe-title {
    font-size: 20px;
    margin-bottom: 20px;
}

.subscribe-email {
    background-color: black;
    color: #FFFFFF;
    height: 30px;
    width: 200px;
    padding: 5px 0px 5px 10px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    margin-bottom: 10px;
}

::placeholder { 
    color: #FFFFFF;
    opacity: 1; 
}