* {
    margin: 0;
    padding: 0;
}

/* btn */

.primary-btn {

    background-color: rgb(190, 107, 6);
    height: 45px;
    width: 100px;
    border-radius: 5px;
    border: 0px;
     color: white;

}

.primary-btn:hover {
    background-color: rgb(167, 94, 6);
    cursor: pointer;
}

/* header */
header {
    background-image: url('../images/banner/banner1.png');
    height: 100vh;
    min-height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: left;
    display: flex;
    justify-content: end;
    align-items: center;
}

#intro-container {
    margin-right: 50px;
}

#intro-header {
    font-size: 46px;
    width: 300px;
    text-align: right;
    margin-bottom: 20px;
}

#intro-desc {
    font-size: 14px;
    line-height: 1.5rem;
    width: 300px;
    text-align: right;
    margin-bottom: 20px;
     color: rgb(99, 114, 129);
}

#intro-btn {
    float: right;
}