* {
    margin: 0;
    padding: 0;
}

/* btn */

.primary-btn {

    background-color: rgb(190, 107, 6);
    height: 45px;
    width: 100px;
    border-radius: 5px;
    border: 0px;
     color: white;

}

.primary-btn:hover {
    background-color: rgb(167, 94, 6);
    cursor: pointer;
}

/* header */
header {
    background-image: url('../images/banner/banner1.png');
    height: 100vh;
    min-height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: left;
    display: flex;
    justify-content: end;
    align-items: center;
}

#intro-container {
    margin-right: 50px;
}

#intro-header {
    font-size: 46px;
    width: 300px;
    text-align: right;
    margin-bottom: 20px;
}

#intro-desc {
    font-size: 14px;
    line-height: 1.5rem;
    width: 300px;
    text-align: right;
    margin-bottom: 20px;
    color: rgb(99, 114, 129);
}

#intro-btn {
    float: right;
}

/* main */
#failure {
    height: 100vh;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#failure-img-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#failure-img {
    height: 500px;
    object-fit: contain;
}

#failure-content-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#failure-header {
    font-size: 26px;
    width: 250px;
    margin-bottom: 15px;
}

#failure-desc {
    font-size: 16px;
    width: 250px;
    color: rgb(99, 114, 129);
    line-height: 1.5rem;
    margin-bottom: 15px;
}

#failure-list {
    margin-left: 50px;
    list-style: none;
    list-style-position: inside;
    font-size: 16px;
    color: rgb(99, 114, 129);
    line-height: 1.5rem;
}






@media only screen and (max-width: 1050px) {

    /* header */
    
    header {
        
        justify-content: center;
        
    }

    #intro-container {
        padding: 20px 20px;
        background: rgb(190, 107, 6, 0.8);
        color: white;
        border-radius: 10px;
    }

    #intro-header, #intro-desc {
        text-align: center;
    }

    #intro-desc {
        font-size: 16px;
    }

    

}